@font-face {
    font-family: "Bebas";
    src: url("../fonts/BEBAS.ttf");
}

@font-face {
    font-family: "Modern Sans";
    src: url("../fonts/ModernSans-Light.otf");
}

@font-face {
    font-family: "Nirmala";
    src: url("../fonts/NirmalaB.ttf");
}

body {
    font-family: "Bebas";
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url("Images/Fondo.jpg");
    background-position: center top;
    background-size: cover;
    color: white;
}

.body-content{
    padding-top: 20px;
}

.header-hr{
    padding: 0;
    margin: 0;
}

a{
    color: #fff;
    text-decoration: none !important;
}

a:hover{
    color: #eee;
}

.list-group a{
    color: #333;
}

.list-group a:hover{
    color: #666;
}

#barra{
    background-color: rgba(0, 0, 0, 0.4);
}

table tr:hover{
    background-color: rgba(0, 0, 0, 0.4) !important;
}

.blue-color{
    background-color: rgba(0, 0, 0, 0.4);
}

.blue-color a{
    color: #fff;
}

.blue-color a:hover{
    color: #eee;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#barra a, #barra li {
    color: white !important;
    background: none !important;
}

.container{
    width: 100%;
}