@model IEnumerable<GestorFutbol.Models.Partido>

<div class="row justify-content-lg-end text-center">
    <div id="proximos">
        <p class="h4 p-3 box-title"><a href="/Partidos/Index" target="_self">proximos partidos</a></p>
        <ul class="list-group list-group-flush blue-color">
           
            @foreach (var item in Model){
            <a href="#" target="_self">
                <li class="list-group-item">@Html.DisplayFor(modelItem => item.Fecha)</li>
                <li class="list-group-item"> <p>@Html.DisplayFor(model => item.Equipo.Nombre)</p><p> VS.</p><p> @Html.DisplayFor(model => item.Equipo3.Nombre) </p></li>
            </a>
            }

        </ul>
    </div>
</div>
