@model IEnumerable<GestorFutbol.Models.Equipo>

@{
    ViewBag.Title = "Posiciones";
}

<!-- primeros lugares -->
<div class="row text-center">
    <div>
        <p class="h4 p-3 box-title"><a href="/Equipos/Posiciones" target="_self">primeros lugares</a></p>
        <ul class="list-group list-group-flush">
            @{ var counter = 1;}
            @foreach (var item in Model)
            {
                <li class="list-group-item blue-color">
                    <a href="/Equipos/details?id=@item.ID" target="_self">
                        @counter<span>° </span>
                        @Html.DisplayFor(modelItem => item.Nombre)<span> - </span>
                        @Html.DisplayFor(modelItem => item.Puntos)<span>.Pts</span>
                        @{counter++;}
                    </a>
                </li>
            }

            </li>
        </ul>
    </div>
</div>
<!-- end of primeros lugares -->